.body {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: auto;
}

.heading {
  font-size: xx-large;
  font-weight: bold;
  padding: 0px;
  margin: 0;
  padding: 0;
}

.methods {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  flex-wrap: wrap;
  span {
    margin-right: 40px;
    margin-bottom: 20px;
  }
}

.fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hide {
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;
  * {
    display: none;
  }
}

.row1 {
  margin-top: 40px;
  p {
    font-size: smaller;
    color: red;
    padding-left: 5px;
    height: 25px;
  }
}

.row2 {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  p {
    font-size: smaller;
    color: red;
    padding-left: 5px;
    height: 25px;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
}

.row2wrapper {
  width: 40%;
  min-width: 120px;
}

.error {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  div {
    width: 30px;
    height: 30px;
  }
  p {
    margin-left: 10px;
    overflow-wrap: break-word;
  }
}
