.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 35%;
  height: 60px;
  border-style: solid;
  border-color: #dda57a;
  background-color: white;
  border-radius: 10px;
  div {
    height: 20px;
    width: 20px;
  }
}
