@mixin body {
  height: 60px;
  width: 100px;
  border-radius: 10px;
}

.active {
  @include body;
  border-style: solid;
  border-color: #dda57a;
}

.inactive {
  @include body;
  border-style: solid;
  border-color: #c2c2c2;
  border-width: 1px;
}
